@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 222.2 84% 4.9%;
    --card: 0 0% 100%;
    --card-foreground: 222.2 84% 4.9%;
    --popover: 0 0% 100%;
    --popover-foreground: 222.2 84% 4.9%;
    --primary: 222.2 47.4% 11.2%;
    --primary-foreground: 210 40% 98%;
    --secondary: 210 40% 96.1%;
    --secondary-foreground: 222.2 47.4% 11.2%;
    --muted: 210 40% 96.1%;
    --muted-foreground: 215.4 16.3% 46.9%;
    --accent: 210 40% 96.1%;
    --accent-foreground: 222.2 47.4% 11.2%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 210 40% 98%;
    --border: 214.3 31.8% 91.4%;
    --input: 214.3 31.8% 91.4%;
    --ring: 222.2 84% 4.9%;
    --radius: 0.5rem;
    --sidebar-background: 202 100% 18%;
    --sidebar-foreground: 240 4.8% 95.9%;
    --sidebar-primary: 224.3 76.3% 48%;
    --sidebar-primary-foreground: 0 0% 100%;
    --sidebar-accent: 240 4.8% 95.9%;
    --sidebar-accent-foreground: 240 5.9% 10%;
    --sidebar-border: 220 13% 91%;
    --sidebar-ring: 217.2 91.2% 59.8%;
  }

  .dark {
    --background: 222.2 84% 4.9%;
    --foreground: 210 40% 98%;
    --card: 222.2 84% 4.9%;
    --card-foreground: 210 40% 98%;
    --popover: 222.2 84% 4.9%;
    --popover-foreground: 210 40% 98%;
    --primary: 217.2 91.2% 59.8%;
    --primary-foreground: 222.2 47.4% 11.2%;
    --secondary: 217.2 32.6% 17.5%;
    --secondary-foreground: 210 40% 98%;
    --muted: 217.2 32.6% 17.5%;
    --muted-foreground: 215 20.2% 65.1%;
    --accent: 217.2 32.6% 17.5%;
    --accent-foreground: 210 40% 98%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 210 40% 98%;
    --border: 217.2 32.6% 17.5%;
    --input: 217.2 32.6% 17.5%;
    --ring: 224.3 76.3% 48%;
    --sidebar-background: 222.2 84% 4.9%;
    --sidebar-foreground: 210 40% 98%;
    --sidebar-primary: 217.2 91.2% 59.8%;
    --sidebar-primary-foreground: 0 0% 100%;
    --sidebar-accent: 217.2 32.6% 17.5%;
    --sidebar-accent-foreground: 210 40% 98%;
    --sidebar-border: 217.2 32.6% 17.5%;
    --sidebar-ring: 224.3 76.3% 48;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply box-border bg-background text-foreground;
  }
}

@layer utilities {
  .min-h-screen {
    min-height: 100vh; /* Fallback */
    min-height: 100dvh;
  }
  .h-screen {
    height: 100vh; /* Fallback */
    height: 100dvh;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}

/* Calendar styles 
------------------------------------------------------------------------*/

.fc-event.overlap-event {
  width: 85% !important;
  margin-left: auto;
}

.calendar-container {
  position: relative;
  max-height: 80vh;
  overflow-y: auto;
}

.modal-backdrop {
  position: fixed;
  inset: 0;
  background: rgba(0, 0, 0, 0.5);
  z-index: 700;
  backdrop-filter: blur(4px);
}

.modal-content {
  z-index: 800;
}

.popover-above-modal {
  z-index: 900;
}

.fc-view-container {
  overflow-y: scroll;
}

.fc-day-today {
  background: transparent !important;
}

.fc-day-today .fc-daygrid-day-number {
  font-size: 1em;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 2em;
  height: 2em;
  border-radius: 50%;
  background-color: var(--fc-event-bg-color);
  color: white;
}

.fc-col-header-cell.fc-day.fc-day-today {
  background-color: #c7deea !important;
}

/* Solving the issue of Today popover is transparat and showing behind events */
.fc-popover.fc-more-popover.fc-day.fc-day-today {
  background-color: #fff !important;
}

input {
  @apply px-2;
}

.fc-day {
  @apply m-8;
}

.fc-scrollgrid-sync-table {
  @apply w-full;
}

.fc-view {
  @apply w-full h-full lg:h-3/4 xl:h-2/3;
}

.fc-h-event {
  @apply bg-violet-500 border border-violet-600;
}

.fc .fc-daygrid-day.fc-day-today {
  @apply bg-[#c7deea];
}

.fc .fc-button {
  @apply bg-[#003f5c] hover:bg-[#1fce88] hover:border-transparent;
}

.fc .fc-button-primary:not(:disabled).fc-button-active {
  @apply bg-[#1fce88] border-transparent;
}

.fc .fc-button-primary:disabled {
  @apply bg-[#c7deea] border-transparent text-primary;
}
.fc-v-event {
  @apply bg-violet-500 border border-violet-600;
}

.fc-header-toolbar {
  display: flex;
  padding: 4px 4px;

  @apply space-x-8;
}

.fc-toolbar {
  .fc-center h2 {
    font-size: 1.25em;
  }
  display: flex;
  text-align: center;
  @media (min-width: 600px) {
    display: flex;
  }
}

@media screen and (max-width: 767px) {
  .fc-toolbar {
    flex-wrap: wrap;
  }
  .fc-toolbar.fc-header-toolbar.fc-toolbar-ltr {
    font-size: 90%;
    display: flex;
    flex-direction: row !important;
    width: 100% !important;
    gap: 10px;
    padding-top: 0px;
    align-items: center;
    justify-content: center;
  }

  .fc-toolbar-chunk {
    display: flex !important;
    justify-content: center !important;
    align-items: center !important;
    padding: 0 !important;
    margin: 0 !important;
    width: 100%;
  }

  .fc-toolbar.fc-header-toolbar .fc-toolbar-chunk:nth-child(2) {
    order: -1;
    width: 100%;
  }

  .fc-toolbar.fc-header-toolbar .fc-toolbar-chunk:nth-child(1),
  .fc-toolbar.fc-header-toolbar .fc-toolbar-chunk:nth-child(3) {
    order: 0;
    width: auto;
    flex: 1;
  }

  .fc-toolbar-chunk .fc-toolbar-title {
    font-size: 1.25em;
  }
}

@media screen and (max-width: 400px) {
  .fc-toolbar {
    flex-wrap: wrap;
  }
  .fc-toolbar.fc-header-toolbar.fc-toolbar-ltr {
    font-size: 68%;
    padding-top: -20px;
  }

  .fc-toolbar.fc-header-toolbar .fc-toolbar-chunk:nth-child(2) {
    order: -1;
    width: 100%;
  }

  .fc-toolbar.fc-header-toolbar .fc-toolbar-chunk:nth-child(1),
  .fc-toolbar.fc-header-toolbar .fc-toolbar-chunk:nth-child(3) {
    order: 0;
    width: auto;
    flex: 1;
  }

  .fc-toolbar-chunk .fc-toolbar-title {
    font-size: 1.25em;
  }
}

.fc {
  direction: ltr;
  text-align: left;
}

.fc table {
  border-collapse: collapse;
  border-spacing: 0;
}

@media screen and (max-width: 600px) {
  html .fc,
  .fc table {
    font-size: 0.9em;
  }
}

.fc td,
.fc th {
  padding: 0;
  vertical-align: top;
}

.fc-content {
  clear: both;
}

.fc-view {
  width: 100%;
}

/* Calendar popover
------------------------------------------------------------------------*/
.popover-content-custom {
  margin-right: 30px;
}

/* tippy styles
------------------------------------------------------------------------*/
.tippy-box {
  background-color: #333; /* Background color */
  color: #fff; /* Text color */
  border-radius: 8px; /* Rounded corners */
  padding: 0px; /* Padding */
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0); /* Box shadow */
}

.tippy-content {
  font-size: 14px; /* Font size */
}

.tippy-content p {
  margin: 0; /* Remove default margin */
}

.tippy-content .paid-status {
  font-weight: bold; /* Bold text */
  color: #4caf50; /* Green color for paid status */
}

.tippy-content .unpaid-status {
  font-weight: bold; /* Bold text */
  color: #f44336; /* Red color for unpaid status */
}

/* Custom input class to prevent zooming on mobile while keeping text size consistent */
.input-no-zoom {
  font-size: 16px; /* Prevent zooming on mobile */
  transform: scale(0.875); /* Scale down the text size */
  transform-origin: left; /* Ensure the text scales from the left */
}
