@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 222.2 84% 4.9%;

    --card: 0 0% 100%;
    --card-foreground: 222.2 84% 4.9%;

    --popover: 0 0% 100%;
    --popover-foreground: 222.2 84% 4.9%;

    --primary: 222.2 47.4% 11.2%;
    --primary-foreground: 210 40% 98%;

    --secondary: 210 40% 96.1%;
    --secondary-foreground: 222.2 47.4% 11.2%;

    --muted: 210 40% 96.1%;
    --muted-foreground: 215.4 16.3% 46.9%;

    --accent: 210 40% 96.1%;
    --accent-foreground: 222.2 47.4% 11.2%;

    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 210 40% 98%;

    --border: 214.3 31.8% 91.4%;
    --input: 214.3 31.8% 91.4%;
    --ring: 222.2 84% 4.9%;

    --radius: 0.5rem;

    /* --fc-today-bg-color: rgba(255, 0, 0, 0); */
  }

  .dark {
    --background: 222.2 84% 4.9%;
    --foreground: 210 40% 98%;

    --card: 222.2 84% 4.9%;
    --card-foreground: 210 40% 98%;

    --popover: 222.2 84% 4.9%;
    --popover-foreground: 210 40% 98%;

    --primary: 210 40% 98%;
    --primary-foreground: 222.2 47.4% 11.2%;

    --secondary: 217.2 32.6% 17.5%;
    --secondary-foreground: 210 40% 98%;

    --muted: 217.2 32.6% 17.5%;
    --muted-foreground: 215 20.2% 65.1%;

    --accent: 217.2 32.6% 17.5%;
    --accent-foreground: 210 40% 98%;

    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 210 40% 98%;

    --border: 217.2 32.6% 17.5%;
    --input: 217.2 32.6% 17.5%;
    --ring: 212.7 26.8% 83.9%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}

.fc-bg-event {
  @apply bg-fc-bg-event;
}

.fc-event.overlap-event {
  width: 75% !important;
  margin-left: auto;
}

/* Ensure the calendar is scrollable */
.calendar-container {
  position: relative;
  max-height: 80vh; /* Adjust this as needed for your use case */
  overflow-y: auto; /* Allow vertical scrolling */
}

/* Make the toolbar sticky */
.fc-toolbar {
  position: sticky;
  top: 0;
  z-index: 30; /* Keep it on top of other content */
  background-color: white; /* Ensure it's visible */
}

/* Ensure the modal backdrop covers the entire viewport */
.modal-backdrop {
  position: fixed;
  inset: 0;
  background: rgba(0, 0, 0, 0.5); /* 50% transparent black */
  z-index: 700; /* Higher than the sticky header */
  backdrop-filter: blur(4px); /* Optional blur effect */
}

/* Ensure the modal content appears above the backdrop */
.modal-content {
  z-index: 800;
}

.popover-above-modal {
  z-index: 900; /* Ensure it appears above the modal content */
}

/* this style is for the month view remove yellow background */
/* .fc .fc-daygrid-day.fc-day-today {
  background-color: white;
} */
